html,
body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  margin: 10px;
}

header {
padding: 10px 10px;
}

.btn-default {
  background-color: rgb(38, 17, 131);
  color: rgba(242, 231, 12, 0.987);
}

button:hover, button:focus, .button:hover, .button:focus {
  /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

 .modal-content {
  margin: auto;
  background: rgb(74, 74, 206);
  color: rgba(242, 231, 12, 0.987);
 }

@media all and (max-width: 500px) {
  .list-group {
    width: 100%;
  }
}
